@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

$tab-item-active-border: #0D0D0D;
$border-radius: 3px;
$global-font-family: "Titillium Web", "Roboto", "Ariel", sans-serif;

@import "uikit/variables-theme";
@import "uikit/mixins-theme";

@mixin hook-button() {
  border-radius: $border-radius;
  border: 1px solid #D0D0D0;
}

@mixin hook-form() {
  border-radius: $border-radius;
  border: 1px solid #D0D0D0;
}

@import "uikit/uikit-theme";

.squish {
  margin-bottom: 20px;
  padding-top: 0;
}