@import "uikit/variables-theme";
@import "uikit/mixins-theme";

$border-radius: 3px;

@mixin hook-button() {
  border-radius: $border-radius;
  border: 1px solid #D0D0D0;
}

@mixin hook-form() {
  border-radius: $border-radius;
  border: 1px solid #D0D0D0;
}

@import "uikit/uikit-theme";

.squish {
  margin-bottom: 20px;
  padding-top: 0;
}