<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rapier</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/uikit.min.css">
	<link rel="stylesheet" href="css/sweetalert2.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="rapier">
	<ul class="uk-flex-center uk-background-muted" id="nav" uk-tab="animation: uk-animation-fade;">
		<li><a>Getting Started</a></li>
		<li><a>Manage Packs</a></li>
		<li><a>Create Pack</a></li>
		<li><a>Prompt Editor</a></li>
		<li><a>Rapier Setup</a></li>
	</ul>
	<ul class="uk-switcher uk-padding" id="pages">
		<li>
			Home
			<!-- TODO -->
		</li>
		<li>
			<div v-if="!appLoaded">
				<vue-simple-spinner></vue-simple-spinner>
			</div>
			<div uk-grid>
				<div class="uk-width-small">
					<ul class="uk-nav uk-nav-default uk-tab-left"
						id="tabDlc">
						<li v-for="item in loadedDlc">
							<a href="#">{{ item.manifest.name }}</a>
						</li>
					</ul>
				</div>
				<div class="uk-width-expand">
					<ul id="component-nav" class="uk-switcher">
						<li v-for="item in loadedDlc" v-bind:key="item.id">
							<div class="uk-fieldset">
								<div class="uk-legend">Pack Editor</div>
								<div class="uk-form-horizontal">
									<div class="uk-margin">
										<label class="uk-form-label" for="packname">Pack Name</label>
										<div class="uk-form-controls">
											<input class="uk-input" type="text" id="packname"
												   v-bind:disabled="item.episodeId === 1223"
												   v-bind:value="item.manifest.name"
												   placeholder="Pack Name">
										</div>
									</div>
									<div class="uk-margin">
										<label class="uk-form-label" for="packid">Pack ID</label>
										<div class="uk-form-controls">
											<input class="uk-input" type="text" id="packid"
												   v-bind:disabled="item.episodeId === 1223"
												   v-bind:value="item.manifest.id"
												   placeholder="Pack ID">
										</div>
									</div>
									<div class="uk-margin">
										<label class="uk-form-label" for="episodeid">Episode ID</label>
										<div class="uk-form-controls">
											<input class="uk-input" type="number"
												   v-bind:disabled="item.episodeId === 1223" id="episodeid"
												   v-bind:value="item.episodeId"
												   placeholder="Episode ID">
										</div>
									</div>
									<div class="uk-margin">
										<label class="uk-form-label" for="savedlc">Actions</label>
										<div class="uk-form-controls">
											<button class="uk-button uk-button-default"
													v-on:click="saveDlc(item)" id="savedlc">Save Pack
											</button>
											<button class="uk-button uk-button-danger"
													v-bind:disabled="item.episodeId === 1223"
													v-on:click="deleteDlc(item)">Delete Pack
											</button>
											<button class="uk-button uk-button-default"
													v-on:click="addQuestion(item)">Add Question
											</button>
											<button class="uk-button uk-button-default"
													v-on:click="addBulkQuestions(item)">Bulk Add Questions
											</button>
										</div>
									</div>
									<div class="uk-margin">
										<label class="uk-form-label" for="filter">Filter Prompts</label>
										<div class="uk-form-controls">
											<input class="uk-input" type="text" id="filter"
												   v-model="promptFilter"
												   placeholder="Filter RegEx">
										</div>
									</div>
								</div>
							</div>
							<table class="uk-table uk-table-striped">
								<caption>{{ item.questions.length }} prompts <span
										v-if="getNumFilteredQuestions(item) !== item.questions.length">({{ getNumFilteredQuestions(item) }} shown via filter)</span>
								</caption>
								<thead>
								<tr>
									<th>Prompt</th>
									<th>Actions</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="prompt in item.questions" v-bind:id="prompt.uuid"
									v-if="prompt.prompt.search(promptFilter) !== -1 || !promptFilter">
									<td>{{ prompt.prompt }}</td>
									<td>
										<ul class="uk-iconnav">
											<li><a :uk-icon="'icon: file-edit'" title="Edit"
												   v-on:click="startEditing(prompt)"></a></li>
											<li><a :uk-icon="'icon: trash'" class="uk-text-danger"
												   v-on:click="deleteQuestion(item, prompt)"
												   title="Delete"></a></li>
										</ul>
									</td>
								</tr>
								</tbody>
							</table>
						</li>
					</ul>
				</div>
			</div>
		</li>
		<li>
			<div class="uk-fieldset">
				<div class="uk-legend">Pack Creator</div>
				<div class="uk-form-horizontal">
					<div class="uk-margin">
						<label class="uk-form-label">Pack Name</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text"
								   v-bind:value="creator.name"
								   placeholder="Pack Name">
						</div>
					</div>
					<div class="uk-margin">
						<label class="uk-form-label">Pack ID</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text"
								   v-bind:value="creator.packId"
								   placeholder="Pack ID">
						</div>
					</div>
					<div class="uk-margin">
						<label class="uk-form-label">Episode ID</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="number"
								   v-bind:value="creator.episodeId"
								   placeholder="Episode ID">
						</div>
					</div>
				</div>
				<div class="uk-margin">
					<button class="uk-button uk-button-default uk-align-right" v-on:click="createDlc()">Create
					</button>
				</div>
			</div>
		</li>
		<li>
			<fieldset class="uk-fieldset">
				<div class="uk-form-horizontal">
					<legend class="uk-legend">Prompt Editor</legend>
					<div class="uk-margin">
						<label class="uk-form-label">Prompt Text</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text" placeholder="Prompt Text" v-model="editorPrompt.text"
								   v-bind:disabled="!editing">
						</div>
					</div>
					<div class="uk-margin">
						<label class="uk-form-label">Prompt Author</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text" placeholder="Author" v-model="editorPrompt.jet.author"
								   v-bind:disabled="!editing">
						</div>
					</div>
					<div class="uk-margin">
						<label class="uk-form-label">Author Location</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text" placeholder="Location"
								   v-model="editorPrompt.jet.location"
								   v-bind:disabled="!editing">
						</div>
					</div>
					<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
						<label><input class="uk-checkbox" type="checkbox" v-model="editorPrompt.mature"
									  v-bind:disabled="!editing"> NSFW</label>
					</div>
					<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
						<label><input class="uk-checkbox" type="checkbox" v-model="editorPrompt.jet.hasJokeAudio"
									  v-bind:disabled="!editing"> Has Joke</label>
					</div>
					<div class="uk-margin">
						<label class="uk-form-label">Keyword Response (Joke) Text</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="text" placeholder="Keyword Response (Joke) Text"
								   v-model="editorPrompt.jet.keywordResponseText"
								   v-bind:disabled="!editing || !editorPrompt.jet.hasJokeAudio">
						</div>
					</div>
					<div class="uk-margin">
						<label class="uk-form-label">Keyword Response (Joke) Triggers (one per line)</label>
						<div class="uk-form-controls">
							<textarea class="uk-textarea" placeholder="Keyword (Joke) Triggers"
									  v-model="editorPrompt.jet.keywords"
									  v-bind:disabled="!editing || !editorPrompt.jet.hasJokeAudio"></textarea>
						</div>
					</div>
					<div class="uk-margin">
						<label class="uk-form-label">Prompt ID</label>
						<div class="uk-form-controls">
							<input class="uk-input" type="number" placeholder="Prompt ID" v-model="editorPrompt.id"
								   v-bind:disabled="!editing">
						</div>
					</div>
					<div class="uk-margin">
						<button class="uk-button uk-button-default uk-align-right" v-on:click="stopEditing()"
								v-bind:disabled="!editing">Save
						</button>
					</div>
				</div>
			</fieldset>
		</li>
		<li>
			<div class="uk-form-horizontal">
				<div class="uk-margin uk-align-right">
					<label class="uk-form-label" for="qppick">
						Select Quiplash Executable
					</label>
					<div class="uk-form-controls">
						<div class="js-upload" uk-form-custom id="qppick">
							<input type="file" id="fileQuiplash">
							<button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
						</div>
					</div>
				</div>
				<div class="uk-margin">
					<input class="uk-input" id="textQuiplash" v-bind:class="{ 'uk-form-danger': isQuiplashPathInvalid }"
						   type="text"
						   placeholder="Enter Quiplash executable path" v-model="quipPath">
				</div>
			</div>
		</li>
	</ul>
</div>
<script src="js/uikit.min.js"></script>
<script src="js/uikit-icons.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/vue-simple-spinner.min.js"></script>
<script src="js/sweetalert2.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
