<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Rapier</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/uikit.min.css">
	<link rel="stylesheet" href="css/sweetalert2.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="rapier">
	<ul class="uk-flex-center" id="nav" uk-tab="animation: uk-animation-fade;">
		<li><a>Home</a></li>
		<li><a>Manage DLC</a></li>
		<li><a>Create DLC</a></li>
		<li><a>Setup</a></li>
	</ul>
	<ul class="uk-switcher uk-padding">
		<li>
			Home
		</li>
		<li>
			<div uk-grid>
				<div class="uk-width-small@m">
					<ul class="uk-nav uk-nav-default uk-tab-left"
						id="tabDlc">
						<li v-for="item in loadedDlc">
							<a href="#">{{ item.name }}</a>
						</li>
					</ul>
				</div>
				<div class="uk-width-expand@m">
					<ul id="component-nav" class="uk-switcher">
						<li v-for="item in loadedDlc" v-bind:key="item.id">
							<div class="uk-fieldset">
								<div class="uk-legend">Pack Editor</div>
								<div class="uk-margin">
									<label class="uk-form-label" for="episodeid">Episode ID</label>
									<input class="uk-input" type="number" disabled="disabled" id="episodeid"
										   v-bind:value="item.episodeid"
										   placeholder="Episode ID">
								</div>
							</div>
							<table class="uk-table">
								<thead>
								<tr>
									<th>Prompt</th>
									<th>Actions</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="prompt in item.prompts">
									<td>{{ prompt.prompt }}</td>
									<td>
										<ul class="uk-iconnav">
											<li><a href="#" :uk-icon="'icon: file-edit'" title="Edit"></a></li>
											<li><a href="#" :uk-icon="'icon: trash'" class="uk-text-danger"
												   title="Delete"></a></li>
										</ul>
									</td>
								</tr>
								</tbody>
							</table>
						</li>
					</ul>
				</div>
			</div>
		</li>
		<li>
			Create
		</li>
		<li>
			<div class="uk-form-horizontal">
				<div class="uk-margin uk-align-right">
					<label class="uk-form-label" for="qppick">
						Select Quiplash Executable
					</label>
					<div class="uk-form-controls">
						<div class="js-upload" uk-form-custom id="qppick">
							<input type="file" id="fileQuiplash">
							<button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
						</div>
					</div>
				</div>
				<div class="uk-margin">
					<input class="uk-input" id="textQuiplash" v-bind:class="{ 'uk-form-danger': isQuiplashPathInvalid }"
						   type="text"
						   placeholder="Enter Quiplash executable path" v-model="quipPath">
				</div>
			</div>
		</li>
	</ul>
</div>
<script src="js/uikit.min.js"></script>
<script src="js/uikit-icons.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/sweetalert2.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
